<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Framework" parallel="tests">
    <test name="Cucumber Test" junit="true" parallel="classes" thread-count="5">
        <classes>
            <!--<class name="CucumberFramework.runner.MainRunner"/>-->
            <class name="CucumberFramework.runner.MainRunner"/>
        </classes>
    </test>
</suite>